# Python
__pycache__/
*.py[cod]
*.so
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data (raw data - muito grande)
data/raw/*.csv
data/raw/*.parquet

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
